a{
    text-decoration: none;
    color: black;
}
a:hover{
  color: rgb(1, 29, 17);
}

@font-face {
  font-family: 'IranMarker';
  src: url('./assets/fonts/IRANMarker.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'IRANMarker', sans-serif;
  direction: rtl; /* اگر می‌خوای متن راست‌چین باشه */
}

